.footer {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: #f9f2ed;
  font-weight: 200;
  margin-top: 40px;
  .footer-container {
    border-top: 0.2px rgb(238, 238, 238);
    width: 100vw;
    max-width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: start;
    flex-wrap: nowrap;
    
    .col {
      margin-top: 120px;
      min-width: 20%;

      h4 {
        padding-bottom: 20px;
      }

      &.col-left {
        margin-left: 40px;
      }

      &.col-right {
        margin-right: 40px;

        .submit-form {
          border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
          display: flex;
          justify-content: space-between;
        }

        input {
          border: none;
          background-color: #f9f2ed;
          &:focus {
            outline: none;
          }
          padding-top: 20px;
        }

        button {
          background-color: unset;
          border: none;
        }
      }
    }
    ul {
      li {
        padding-bottom: 0.4rem;
      }
    }
  }
}
