
body {
  margin: 0;
}

* {
  color: #000;
  margin: 0;
}

ul {
  padding: 0;
  display: block;
  list-style: none;
}

.links {
  text-decoration: none;
  color: black;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }
}
