.products-page{
  width: 100vw;
  display: flex;
  justify-content: center;

  .filters-wrapper {
    width: 30%;
    padding: 40px;
  }
  
  .products-page-container {
    width: 100vw;
    max-width: 1200px;
    padding: 40px 40px;
  }
}