.products-detail-main {
  width: 100vw;
  display: flex;
  justify-content: center;

  
  .products-detail-container {
    width: 100vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
    padding: 0 40px 40px 40px;
    
    .breadscrumb {
      color: rgba(0, 0, 0, 0.5);
      padding-top: 40px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .products-detail-wrapper {
      display: flex;
      gap: 40px;
      
      .products-thumb {
        width: 35%;

        .thumbs-wrapper {
          height: 100px;
        }
      }
      .products-detail {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .btns-wrapper {
          display: flex;
          justify-content: start;
          gap: 60px;

          .qty-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
            line-height: 100%;
            height: 100%;
            border: 1px solid #000;
            
            button {
              border: none;
              height: 100%;
              width: 40px;
              font-size: 1.5rem;
              font-weight: 200;
              background-color: rgba(0, 0, 0, 0.08);
            }
          }
          .add-btn {
            border: none;
            background-color: #ef4626;
            width: 160px;
            color: #fff;
            height: 40px;
            font-size: 0.7rem;
            font-weight: 500;
          }
        }

        .price-wrapper {
          font-size: 1.5rem;
          padding-top: 10px;
          display: flex;
          gap: 30px;

          .prev-price {
            text-decoration: line-through;
            opacity: 0.5;
          }
        }

        .sub-details {
          p {
            padding-top: 10px;
          }
        }
      }
    }
    .description {
      padding-top: 40px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 20px;
      p {
        line-height: 1.8;
      }
    }

    .relative-products-wrapper {
      padding: 40px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.2);

      h4 {
        padding-bottom: 40px;
      }
    }
  }
}