
.products-page{
  width: 100vw;
  display: flex;
  justify-content: center;

  .products-page-container {
    width: 100vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    
    .banner {
      width: 100vw;
      height: 300px;
      max-width: 1200px;
      background-color: #f9f3f2;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .text-wrapper {
        padding: 0 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .path {
          font-weight: 200;
        }
        
        h1 {
          color: #ef4626;
          font-size: 3rem;
          font-weight: 200;
          padding-top: 30px;
        }

        .decs {
          font-size: 0.7rem;
          padding-top: 30px;
          width: 60%;
        }
      }
    }
    
    .main-section {
      display: flex;

      .filters-wrapper {
        width: 30%;
        padding: 40px;

        h4 {
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2) ;
          padding-bottom: 20px;
          padding-top: 40px;
        }
        ul {
          li {
            padding-top: 20px;
            display: flex;
            gap: 20px;
          }
        }
  
      }
      
      .products-wrapper {
        padding: 40px 40px 40px 0;
      }
    }
  }
}