.product-card-wrapper {
  width: 100%;

  .catogory {
    font-size: 0.7rem;
    font-weight: 500;
    color: #ef4626;
    text-transform: uppercase;
  }

  .name {
    font-size: 0.9rem;
    font-weight: 600;
  }
}