

.top-nav {
  width: 100vw;
  height: 38px;
  display: flex;
  justify-content: center;
  background-color: #F9F2ED;
  

  .top-nav-container {
    width: 100vw;
    max-width: 1200px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    

    .left {
      flex-grow: 1;
      margin-left: 40px;
      display: flex;
      gap: 20px;
    }

    .right {
      flex-grow: 1;
      margin-right: 40px;
      display: flex;
      gap: 20px;
      justify-content: end;
    }

    .links {
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 38px;
    }
  }
}